{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% trans "User login" %}
{% endblock %}

{% block extrahead %}
<style type="text/css">
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
</style>
{% endblock %}

{% block content %}
  <div class="container">
    <form class="form-signin" method="post" action=".">{% csrf_token %}
      <h2 class="form-signin-heading">Bodeguero App</h2>
      {% if form.errors %}
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Your <strong>username</strong> and <strong>password</strong> didn't match. Please try again.
      </div>
      {% endif %} 
      <div class="control-group">
        <label class="control-label" for="id_username">{% trans "Username" %}</label>
        <div class="controls">
          {{ form.username }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_password">{% trans "Password" %}</label>
        <div class="controls">
          {{ form.password }}
        </div>
      </div>
      <input type="hidden" name="next" value="/" />
      <button class="btn btn-large btn-primary" type="submit">{% trans "Login" %}</button>
    </form>
    <p class="pull-right"><a href="mailto:jbarrios(at)ciencias.unam.mx"><small>&copy; Juan M. Barrios</small></a></p>
  </div>
{% endblock %}    