{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% trans "Oops!" %}
{% endblock %}

{% block extrahead %}
  <style type="text/css">
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span8 offset2 hero-unit">
      <h1 class="text-info">{% trans "500" %}</h1>
      <p>{% trans "Oops! Somethign went wrong" %}</p>
    </div>
  </div>
{% endblock %}