{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  {% block helphead %}
  {% endblock %}
{% endblock %}

{% block content %}
  <!-- NavBar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Bodeguero App</a>
      <ul class="nav">
            <li>
                <a href="#">{% trans "Welcome" %} 
                  {% if user.first_name %}
                    {{ user.first_name }}
                  {% else %}
                    {{ user.username }}
                  {% endif %}
                </a>
            </li>
      </ul>
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav pull-right">
          {% if user.is_active and user.is_staff %}
            <li>
              <a href="/admin/">{% trans "Admin Site"%}</a>
            </li>
            {% endif %}
          <li>
            <a href="/logout/">{% trans "Log out"%}</a>
          </li>
        </ul>
      </div>
 
    </div>
  </div>
</div>
  <!-- End NavBar -->
  <!-- NavBar -->
  <header>
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <h1>{% block headview %}{% endblock %}<h1>
      </div>
    </div>
  </header>

  {% block displayview %}
  {% endblock %}
{% endblock %}