{% extends "base_site.html" %}
{% load i18n %}
{% block title %}
  {% trans "Home" %}
{% endblock %}

{% block headview %}{% trans "Stock" %}{% endblock %}

{% block helphead %}
  <style type="text/css">
    .table-striped .alleft {
      text-align: left;
    }
    .table-striped .alcenter {
      text-align: center;
    }
  </style>
{% endblock %}

{% block displayview %}
{% if not product_list %}
<div class="container">
  <div class="span10">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% trans "There's not products to display" %}.
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <table class="table-striped span10">
      <thead>
        <tr>
          <th>{% trans "Product" %}</th>
          <th>{% trans "Current stock" %}</th>
          <th>{% trans "Min. stock" %}</th>
          <th>{% trans "Ideal stock" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
        <tr>
          <td class="alleft">{{ product.description }}</td>
          {% if product.current_stock >= product.ideal_stock  %}
            <td class="alcenter">{{ product.current_stock }}</td>
          {% elif product.current_stock <= product.min_stock %}
            <td class="alcenter text-error"><b>{{ product.current_stock }}</b></td>
          {% else %}
            <td class="alcenter text-warning"><b>{{ product.current_stock }}</b></td>
          {% endif %}
          <td class="alcenter">{{ product.min_stock }}</td>
          <td class="alcenter">{{ product.ideal_stock }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> 
  </div>
   
</div>

{% endblock %}
